body {
    background-color: #800000;
    font-family: 'Quattrocento Sans', sans-serif;
}

#logo {  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#logo img {
    max-width: 100%;
}

.quiz-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    border: solid 0.5rem #D2B48C;
    width: 60rem;
    height: 27rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

h2 {
    font-family: 'Playfair Display', serif;
    color: #BB8376;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
}

button, #start-game {
    border: solid 0.15rem #D2B48C;
    background: #BB8376;
    color: #582B39;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#start-game:hover {
    background: #D2B48C;
    color: #800000;
    font-size: 1.8rem;
}

#start-game {
    text-decoration: none;
}

/*quiz page*/
i.fas.fa-volume-up.audio-on {
    display: none;
}

.top-bar {
    height: 3rem;
    width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #BB8376;
}

.top-bar p {
    margin: auto;
    font-weight: 600;
}

#restart {
    left: 40%;
    position: relative;
}

#question-container {
    padding-bottom: 3rem;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #D2B48C;
    text-align: center;
}


#option-container {
    padding-top: 3rem;
}

.option {
    width: 12.6rem;
    margin-right: 1rem;
}

#next-question {
    margin-top: 1rem;
}

/*classes for correct and wrong answers*/
.correct {
    border: solid 0.15rem #004800;
    background: #3D7A09;
    color: #582B39;
}

.wrong {
    border: solid 0.15rem #b51a1a;
    background: #FF0000;
    color: #582B39;
}

/*media query*/
@media only screen and (max-width: 970px) {
    .container, .top-bar {
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    #quiz-container {
        flex-direction: column;
    }

    button.option {
        display: flex;
        margin: 1rem;
    }

    #restart {
        left: 30%;
    }
}